.h1 {
    background-color: #e92e11; /* 背景色 */
    padding: 20px;             /* 内側の余白 */
    color: white;              /* 文字色 */
    font-size: 36px;           /* フォントサイズ */
    margin: 0;                 /* マージンをなくす */
}

/* 全体のフォームグループのスタイル */
.form-group {
    margin-bottom: 15px;  /* ラベルと次の要素の間に余白を追加 */
}

/* ラベルのスタイル */
.form-group label {
    font-size: 16px;           /* ラベルのフォントサイズを調整 */
    font-weight: bold;         /* 文字を太くする */
    margin-bottom: 5px;        /* ラベルと入力フィールドの間に余白を追加 */
    display: block;            /* ラベルをブロック要素にして縦並びに */
    color: #333;               /* テキストの色を変更 */
}

/* 入力フィールドのスタイル */
.form-group input[type="text"] {
    width: 100%;               /* 入力フィールドを親要素の幅に合わせる */
    padding: 10px;             /* 内側の余白を追加して押しやすくする */
    font-size: 16px;           /* 入力フィールドのフォントサイズを調整 */
    border: 1px solid #ccc;    /* 枠線を設定 */
    border-radius: 5px;        /* 角を少し丸くする */
    box-sizing: border-box;    /* パディングを含めて幅を計算する */
}

/* フォーカス時の入力フィールドのスタイル */
.form-group input[type="text"]:focus {
    border-color: #4CAF50;     /* フォーカス時に枠線の色を変更 */
    outline: none;             /* デフォルトのフォーカス枠を消す */
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5); /* フォーカス時に光るようなエフェクト */
}

.button {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 250px;
    padding: 10px 25px;
    font-family: "Noto Sans Japanese";
    color: #fff;
    line-height: 1.8;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    background: linear-gradient(to top, rgb(5, 130, 174), #27acd9);
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 9999px;
}
.button:hover {
    color: #fff;
    opacity: 0.5;
}
.button:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.button:hover:after {
    border-color: #fff;
}
body{
    vertical-align:middle; 
    padding: 50px 0;
    text-align: center;
}
